flows/Reassign_Accounts-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>ass</name>
        <label>ass</label>
        <locationX>428</locationX>
        <locationY>228</locationY>
        <assignmentItems>
            <assignToReference>sovupdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>looping</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass1</name>
        <label>ass1</label>
        <locationX>262</locationX>
        <locationY>189</locationY>
        <assignmentItems>
            <assignToReference>loop.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Reassign Accounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reassign Accounts</label>
    <loops>
        <name>looping</name>
        <label>looping</label>
        <locationX>316</locationX>
        <locationY>51</locationY>
        <assignNextValueToReference>loop</assignNextValueToReference>
        <collectionReference>sovAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ass1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>uop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_User_Accounts</name>
        <label>Find User Accounts</label>
        <locationX>142</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>looping</targetReference>
        </connector>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OwnerID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>sovAccounts</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>uop</name>
        <label>uop</label>
        <locationX>556</locationX>
        <locationY>69</locationY>
        <inputReference>sovupdated</inputReference>
    </recordUpdates>
    <startElementReference>Find_User_Accounts</startElementReference>
    <variables>
        <name>loop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>OwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sovAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sovupdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
